
.header {
    display: flex;
    background-color: rgba(11, 84, 158, 0.8);
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    margin-left: 16px;
    text-decoration: none;
}


.title{
    font-weight: 500;
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    border-radius: 10px;
}

.header__weather-mini {
    display: flex;
    align-items: center;
    gap: 15px;
}

li {
    list-style-type: none;
}

.header__links {
    display: flex;
    gap: 15px;
    margin-right: 20px;
    align-items: center
}

.header__navigation-link {
    color: rgb(241, 232, 232);
    text-decoration: none;
    padding: 10px;
    align-items: center;
}


.header__navigation-link.active {
    color: rgb(54, 54, 119);
    background-color: rgb(241, 232, 232);
    border-radius: 5px;
}